.users {
    &-list {
        font-size: 24px;
        margin-bottom: 20px;

        p {
            margin: 0;
            padding-left: 10px;
            font-size: 16px;
        }
    }

    &-search {
        margin-bottom: 20px;

        input {
            margin-left: 20px;
        }
    }

    &-result {
        font-size: 20px;
    }
}
